$white: #fff;
$black: #000;
$red: #ef4444;
$orange: #F58220;
$light-gray: #e6e6e6;
$gray: #617170;
$disable-text: #617170;
$font-primary: #001E1D;
$font-secondary: #617170;
// grid
$pink: #FFDDFB;
$light-blue: #C3EAFF;
$light-orange: #F8DBCB;
$beam: #B2F0F0;
// cart
$pinky: #FFD4D4;

$font-size-primary: 16px;