@import "../../../css/variable";
@import "../../../css/mixins";

.modal-dialog {
    position: fixed;
    background: #00000080;
    width: 100%;
    height: 100%;
    right: 0;
    z-index: 20;
    bottom: 0;
    overflow-y: auto;

    .modal {
        position: absolute;
        width: 40%;
        height: 100%;
        right: 0;
        background: $white;
        padding: 24px;
        overflow: auto;
        
        .modal-header {
            @include flex(center);
        }
    }
}


.modal-body {
    height: 2.5rem;
    margin-bottom: 0.25rem;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 0.75rem 0;
    font-size: 0.75rem;
    color: #6b7280;
    background-color: #ffffff;
    border-radius: 0.375rem;

    .header-content {
        width: 100%;
        height: 100%;
        font-size: 0.875rem;
        @include flex(center);

        .left-section {
            flex: 1;
        }
        .right-section {
            width: 25%;
            @include flex(flex-end, center);

            .image-section {
                width: 33.33%;
                padding: 0 0.75rem;
                text-align: center;
            }

            .title-section {
                width: 66.67%; // 8/12
                padding: 0 0.75rem;
                text-align: left;

                .details-vendor {
                    height: 32px;
                    width: 100%;

                    .vendor-container {
                        width: 100%;

                        .vendor {
                            font-size: 12px;
                            list-style: 15px;
                            margin: 0;
                            color: $font-secondary;
                        }
                    }

                    .company-container {
                        width: 100%;

                        .company {
                            font-size: 12px;
                            list-style: 15px;
                            margin: 0;
                            font-weight: 500;
                            color: $font-primary;
                        }
                    }
                }

                .details {
                    width: 70%;
                    height: 68px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .title-container {
                        padding-top: 0.5rem;
                        width: 100%;

                        .title {
                            font-size: $font-size-primary;
                            margin: 0;
                            width: 100%;
                            font-weight: bold;
                            text-align: left;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }

            .price-section {
                width: 25%; // 3/12
                text-align: left;
            }

            .total-section {
                width: 25%; // 3/12
                text-align: center;
            }

            .trash-container {
                cursor: pointer;
                padding: 8px 10px;
                border: 1px solid $orange;
                border-radius: 8px;
                @include flex(center);

                .trash-icon {
                    width: 18px;
                    height: 18px;
                    color: $orange;
                }
            }
        }
    }
}

.checkbox-container {
    width: 15%;
    @include flex(center);
}

.cart-list {
    height: 24rem;
    flex-direction: column;
    font-size: 0.75rem;
    background-color: $white;
    border-radius: 0.375rem;
    overflow-y: auto;
    overflow-x: hidden;

    .cart-item {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;

        .left-section {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            .image-section {
                width: 30%;
                padding: 0 0.75rem;
                text-align: center;

                img {
                    height: 84px;
                    object-fit: cover;
                }
            }

            .title-section {
                width: 70%;
                height: 100%;
                padding: 0 0.75rem;
                text-align: left;

                .title {
                    width: 100%;
                    font-size: $font-size-primary;
                    font-weight: 500;
                }

                .vendor {
                    margin: 0;
                    color: $gray;
                }
                .company {
                    margin: 0;
                    color: $black;
                    font-weight: 500;
                }
            }
        }

        .right-section {
            width: 25%;
            flex-direction: column;
            @include flex(flex-end, flex-end);

            .total-section {
                width: 100%;
                text-align: right;
                font-size: $font-size-primary;
                font-weight: 500;
            }

            .quantity-section {
                width: 100%;
                @include flex(flex-end, flex-end);

                button {
                    padding: 8px 10px;
                    border: 1.2px solid $light-gray;
                    background-color: $white;
                    color: $gray;
                    font-size: 12px;
                    @include radius(4px);
                }

                label {
                    text-align: center;
                    padding: 8px 10px;
                    border: 1.2px solid $light-gray;
                    font-size: 12px;
                    margin: 0 5px;
                    @include radius(4px);
                }
            }

            .remove-section {
                width: 30%;
                text-align: center;

                button {
                    padding: 0.25rem 0.5rem;
                    font-size: 0.75rem;
                    border: 1px solid #ef4444;
                    color: #ef4444;
                    border-radius: 0.375rem;
                    transition: all 0.2s ease-in-out;

                    &:hover {
                        background-color: #ef4444;
                        color: white;
                    }
                }
            }
        }
    }
}

hr {
    border-top: 1px solid $light-gray;
}

.total-payment {
    margin-top: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    font-size: 0.75rem;
    background-color: $white;
    border-radius: 0.375rem;

    .payment-content {
        width: 100%;
        height: 100%;
        font-size: 0.875rem;
        @include flex(flex-start, center);

        .total-label {
            width: 100%;
            font-weight: 500;
            font-size: 20px;
        }
    }
}

.btn-container {
    margin: 1rem 0;
    width: 100%;
    @include radius(8px);

    button {
        width: 100%;
        padding: 8px 16px;
        background-color: $orange;
        color: $white;
    }
}
